/* HEADER COMPONENT */

.title {
  font-family: "Montserrat";
  font-size: 48px;
  text-decoration: None;
  color: #fafafa;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  margin: 0 auto;
}

.header__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 0px;
}

.header__logo {
  width: 122px;
  height: 36px;
}

@media (min-width: 967px) {
  .header__logo {
    width: 167px;
    height: 48px;
  }
}

.header__burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 36px;
}

@media (min-width: 967px) {
  .header__burger {
    display: none;
  }
}

.header__burger-box {
  width: 100%;
  height: 6px;
  background-color: #fafafa;
}

.header__services {
  display: none;
  font-family: "Poppins";
  color: #fafafa;
  font-size: 24px;
}

@media (min-width: 967px) {
  .header__services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 451px;
    gap: 20px;
  }
}

.header__ventana {
  display: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: #161616;
  justify-content: center;
  align-items: center;
}

.header__ventana-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 260px;
}

.header__ventana-cerrar {
  position: absolute;
  top: 37px;
  right: 37px;
  width: 37px;
  height: 37px;
}

/* CONTACT COMPONENT */

.contact {
  width: 100%;
  height: 660px;
  margin: 0 auto;
  padding: 70px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
}

.contact__container {
  height: 520px;
  width: 100%;
  max-width: 824px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contact__title {
  width: 271px;
  height: 56px;
  margin: 0;
  color: #fafafa;
  text-align: center;
  font-size: 32px;
}

.contact__forms {
  height: 428px;
  max-width: 375px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: #fafafa;
  gap: 5px;
}

.contact__form {
  width: 100%;
}

.contact__form-input {
  height: 45px;
  width: 100%;
}

.contact__form-message {
  height: 137px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 9px;
}

.contact__form-message-input {
  height: 113px;
  width: 100%;
}

.contact__form-button-container {
  width: 100%;
  margin-top: 55px;
}

.contact__form-button {
  background-color: #2c2c2c;
  color: rgb(211, 210, 210);
  height: 55px;
  width: 100%;
  font-weight: 700;
  font-family: "Poppins";
  border-radius: 4px;
  border: none;
}

button:hover {
  background-color: #626262;
}

@media (min-width: 967px) {
  .contact__container {
    flex-direction: row;
    align-content: flex-start;
    height: 428px;
  }
  .contact__title {
    align-self: flex-start;
    font-size: 48px;
    width: 300px;
  }
}

/* FOOTER COMPONENT */

.footer-sec {
  background-color: #2c2c2c;
  color: white;
  font-family: "Poppins";
  /* margin: 0; */
  padding: 89px;
  height: auto;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 36px;
  margin: 0 auto;
}

@media (min-width: 967px) {
  .footer__container {
    flex-direction: row;

    align-content: center;
  }
}

.footer__media-group {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}

@media (min-width: 967px) {
  .footer__media-group {
    align-items: flex-end;
  }
}

.footer__media-box {
  display: flex;
  align-items: center;
  gap: 7px;
  max-height: 29px;
}
